.body{
    background-image:linear-gradient(rgba(109, 94, 245, 0.6), rgba(109, 94, 245, 0.6)), url("BG_IMAGE.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    resize: both;
    overflow: auto;
}

.headings{
    text-align:center;
    position:relative;
    top:40px;
    color:white;
    font-family:'Franklin Gothic Book';
}

.form_body{
    position:relative;
    top:80px;
    left:280px;
    background:rgba(5, 0, 53, 0.7);
    color:white;
    width:800px;
    
}

form{
    position:relative;
    left:70px;  
}

label{
    font-size:20px;
    font-family:'Shippori Antique B1', sans-serif;
}


input{
    height:40px;
    width:650px;
    border-radius:8px;
    font-family:'Shippori Antique B1', sans-serif;
}

select{
    height:40px;
    width:650px;
    border-radius:8px;
}

.form-check-input{
    position:relative;
    top:4px;
}

#textarea{
    height:130px;
    width:650px;
    font-family:'Shippori Antique B1', sans-serif;
}

#submit{
    height:50px;
    width:650px;
    font-family:'Shippori Antique B1', sans-serif;
    font-size:20px;
    color:white;
    font-weight:bold;
    background:rgb(46, 187, 46);
}